/*
Theme Name:     Projectimer Main Site (twentytwelve-child)
Theme URI:      http://focalizador.com.br
Description:    Tema filho do tt12
Author:         Francisco Matelli Matulovic
Author URI:     http://franciscomat.com
Template:       twentytwelve
Version:        0.2
*/

@import url("../twentytwelve/style.css");

@font-face {
    font-family: 'lobster';
    src: url('fonts/lobster/lobster_1.3-webfont.eot');
    src: url('fonts/lobster/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lobster/lobster_1.3-webfont.woff2') format('woff2'),
         url('fonts/lobster/lobster_1.3-webfont.woff') format('woff'),
         url('fonts/lobster/lobster_1.3-webfont.ttf') format('truetype'),
         url('fonts/lobster/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body .site {margin-top: 0 !important;}

body {
    background-color: #E6E6E6 !important;
}

.site-title a {
    font-family: "Lobster";
    font-size: 30px;
}
#masthead, .entry-header, #primary {
    margin: 0 !important;
    padding: 0 !important;
}
#site-navigation {
    margin-top: 0 !important;
    padding: 10px 0 20px !important;
}

#blogs-list li {
	float: left;
    padding: 10px !important;
    width: 100%;
    border:1px dashed #FFF !important;
    background-color: #DDD;
}
#blogs-list li:hover {
	background-color: #CCC;
}
#blogs-list a {
	color: #444 !important;
	font-family: Lobster;
}
#blogs-list img {
	font-family: inherit;
	font-size: 10px;
}
#blogs-list li .item-meta .activity {
    color: #999;
}
#blogs-list li .item-title {
	top: 10px;
    text-align: left;
    /*font-family: "Open Sans",​Helvetica,​Arial,​sans-serif !important;
	/*text-align: right !important;
	position: absolute;*/
}
#buddypress ul.item-list li {
    padding: 4px !important;
    height: 110px;
}
#blogs-list .action {
	display: none;
}
#blogs-list .item {
	position: static !important;
	margin-top: -2px;
}
#blogs-list .item-meta	 {
    margin-top: -4px;
    text-align: left !important;
	/*bottom: 0;
    left: 8px;
    position: absolute;
    width: 100%;*/
}
#blogs-list .item {
    /*width: 65% !important;*/
}
.create-site .label {
    color: #000 !important;
    text-align: left;
    font-family: "Open Sans",​Helvetica,​Arial,​sans-serif;
    font-size: 14px;
    font-weight: 100;
    padding: 0;
}
/*#blog-details-section {
    display: none;
}*/
fieldset[class="register-site"] {
    display: none;
}

.item-list-tabs {
	display: block !important;
}

.mu_register input[type="text"], .mu_register input[type="email"] {
    width: 50% !important;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    /*font-family: Lobster;
    font-weight: 100;*/
    background-color: #515151 !important;
}
.demo_store {
    display: none !important;
}